<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>01 - Hello World</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
</head>

<body ng-controller="HelloCtrl">
	<div class="container">
		<div class="jumbotron center">
			<h4>Expression</h4>
			{{message}}
		</div>
		<div class="jumbotron center">
			<h4>Two way data-binding (ng-model)</h4>
			Your Name: <input type="text" ng-model="name">
			<h3>{{name}}</h3>
		</div>
		<div class="jumbotron center">
			<h4>Actions (ng-click) && (ng-repeat)</h4>
			<input ng-model="user.firstName"></input>
			<input type="submit" ng-click="login()" value="Login"></input>
			<div ng-repeat="login in logins">{{ login }}</div>
		</div>
	</div>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>